@use "../../foundation/common" as c;

.p-front-page-mv{
    width: 100%;
    height: 285px;
    background-size: cover;
    position: relative;
    @include c.responsive(screen03){
        width: 80vw ;
        height: 530px;
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include c.responsive(screen01){
            display: none;
        }
        &--tb{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
            @include c.responsive(screen01){
                display: block;
            }
            @include c.responsive(screen02) {
                display: none;
            }
        }
        &--pc{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: none;
            @include c.responsive(screen02){
                display: block;
            }
        }
    }
    &__text{
        position: absolute;
        top: 119px;
        left: 25px;
        @include c.fontsize(36) ;
        color :#FFFFFF ;
        @include c.responsive(screen02){
            display: none;
        }
        @include c.responsive(screen03){
            top: 231px;
            left: 86px;
            display: block; 
            @include c.fontsize(40) ;
            font-weight: 500;
        }
    }
}
.p-main__contents{
    @include c.responsive(screen02){
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    @include c.responsive(screen03){
        width: 80vw;
    }
    &__link{
        display: block;
        width: 100%;
        text-decoration: none;
        cursor: pointer;
    }
    &__img01{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    &__img02{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    &__wrapper{
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 11px 15px 0px 15px;
        z-index: 2;
    }
    
}


.p-main__contents--1{
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include c.responsive(screen02){
        margin-bottom:0;
    }
}
.p-main__contents--2{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    position: relative;
}
.p-main__title{
    font-family: c.$font-roboto;
    @include c.fontsize(41) ;
    color: #EAEAEA;
    position: relative;
    @include c.responsive(screen03){
        @include c.fontsize(60) ;
    }
    @include c.responsive(screen04){
        @include c.fontsize(80) ;
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        background-color: #FFF;
        width: 33.89px;
        height: 4px;
        @include c.responsive(screen03){
            margin-top: 10px;
            width: 64px;
        }
    }
} 
.p-main__title.-eatin{
    color: #FFFFFF;
    &::after{
        background-color: #FFFFFF;
    }
}
.p-main__items{
    margin-top: 250px;
}

.p-main__items__wrapper{
    background-color: rgba($color: #FFFFFF, $alpha: 0.75) ;
    padding: 5px 10px 15px 10px;
    margin-bottom: 15px;
}
.p-main__items__title{
    display: block;
    margin: 0;
    padding: 0;
    @include c.fontsize(22) ;
    @include c.responsive(screen03) {
        @include c.fontsize(24) ;
    }
    font-weight: 500;
    color: #3C2A10;
}
.p-main__items__description{
    display: block;
    line-height: 1.43;
    margin: 0;
    padding: 0;
    @include c.fontsize(16) ;
    color: #3C2A10;

}
